<title>Ativação de contas</title>

<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">
                <table role="presentation" class="main">
                    <tr>
                        <td class="wrapper">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <p>Olá,</p>
                                        {{#if success}}
                                            <p>
                                                Sua conta foi ativada com sucesso, agora você pode
                                                acessar a aplicação sem problemas.
                                            </p>
                                        {{else}}
                                            <p>
                                                O link de ativação utilizado para ativar sua conta está
                                                expirado ou é inválido. Realize o processo de cadastro e
                                                tente novamente.
                                            </p>
                                        {{/if}}
                                        <p>
                                            Caso tenha alguma dúvida ou sugestão,
                                            </br>
                                            entre em contato!
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
